<!--NAVIGATION-->
<!-- <div class="row" style="background-color: #06447e; height:10%"> -->
	<ul id="act_nav" class="list-inline activity_count_[#activity_count]" data-activity_count="[#activity_count]" data-act_type_id="[#activity_type_id]" >
		<li id="back" class="js-prev-arrow">
			<a href='#' onclick='show_previous_section()'>
				<img src='./media/img/s_left.png' alt='&lt;' />
			</a>
		</li>
		<li id="nav_pager">1/[#activity_count]</li>
		<li id="nav_score"><p>[#activity_value]</p></li>
		<li id="next_send" class="js-next-arrow">
			<a href='#' onclick='show_next_section()'>
				<img src='./media/img/s_right.png' alt='&gt;' />
			</a>
		</li>
	</ul>
    <input class="js-questionNumber" id="questionNumber" type="hidden" name="questionNumber" value="1" />
<!-- </div> -->
<!--END NAVIGATION-->

