 <!--CONTENT_START-->
            <div id="tab2" class="tab_content">
              <!--LOOP_START-->
              <a>
              <div class="activity_container_completed  activity_row_[#status]">
                <ul>
                  <li class="act_icon_completed"><img src="./media/img/m_[#activity_type_id].png" alt="#[#activity_type_id]"></li>
                  <li class="act_name_completed"><p class="act_title_completed">[#name]</p><p class="act_type_completed">[#cnomb]</p></li>
                  <li class="act_score_completed"><div class="star_completed"><img src="./media/img/act_star_icon_grey.jpg"></div><p>[#valor_ac]</p></li>            
                </ul>
              </div> 
              </a>                    
              <!--LOOP_END-->
            </div>
            <!--end #tab2 Completed-->
            <!--end #tab1 Active-->
 <!--CONTENT_END-->