<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="../media/css/style.css" tywpe="text/css">
		<link rel="stylesheet" href="../media/css/app_tutorial.css">
	</head>
	<body>
		<!-- the viewport -->
		<div class="slider_tutorial">
			<div class="header_p">
				<div><a href="?mod=usr2session&ac=r_"><img src="../media/img/logo.png" id="logo"></a></div>
				<div><h3>New Employee Orientation</div>
			</div>
			<div class="m-carousel m-fluid">
				<div class="m-carousel-inner">
					<div class="m-item">
						<div class="m-card-dark">
							<div class="content_st">
								<h3>Heading 1</h3>
								<p>Slide content 1</p>
							</div>
						</div>
					</div>
					<div class="m-item">
						<div class="m-card-dark">
							<div class="content_st">
								<h3>Heading 2</h3>
								<p>Slide content 2</p>
							</div>
						</div>
					</div>
					<div class="m-item">
						<div class="m-card-dark">
							<div class="content_st">
								<h3>Heading 3</h3>
								<p>Slide content 3</p>
							</div>
						</div>
					</div>
				</div>				
				<!-- the controls -->
				<div class="m-carousel-controls m-carousel-bulleted">
					<a href="#" data-slide="1"></a>
					<a href="#" data-slide="2"></a>
					<a href="#" data-slide="3"></a>
				</div>
			</div>			
		</div>
		<!-- include zepto.js or jquery.js -->
		<script src="../media/js/zepto.min.js"></script>
		<!-- include carousel.js -->
		<script src="../media/js/carousel.js"></script>
		<!-- construct the carousel -->
		<script>$('.m-carousel').carousel()</script>
	</body>
</html>