<!DOCTYPE HTML>
<html>
	<head>
    	<title>Demo</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../media/css/style.css" tywpe="text/css">
		<link rel="stylesheet" href="../media/css/style_2.css" tywpe="text/css">
		<link rel="stylesheet" href="../media/css/stage0.css" tywpe="text/css"
	</head>
	<body>
		<div class="background1">
        	<div class="content">
        		<div class="game_intro">
        			<h4 class="title_principal_gi">Quiz Name Here</h4>
					<img src="../media/img/game_intro.png" alt="img_successfull" class="img_game_intro">
					<h4 class="title_gintro">Fill In The Blanks</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
					<div class="game_intro_menu">
						<div><a href="game_intro2.html" class="button_gi1"><div>INDIVIDUAL</div></a></div>
						<div><a href="select_team.html" class="button_gi2"><div>TEAM</div></a></div>
					</div>
				</div>
            </div>
        </div>
	</body>
</html>