<div class="background1">
	<div class="content container">
		<div class="started">
			<div>
				<img src="./media/img/started_img2.png" class="img_started2" alt="img_started2">
			</div>
			<div class="clear"></div>
			<div>
				<h3>Welcome!</h3>
				<h4>Let's get started</h4>
			</div>
		</div>
		<img src="./media/img/started_img1.png" alt="img_started1" class="img_started">
		<ul class="buttom_index2">
			<li><a class="btn-submit" href="?mod=usr2session&ac=r_home">CONTINUE</a></li>
		</ul>
	</div>
</div>

