<!DOCTYPE html>
<html>
	<head>
		<title>Onboarding Front End</title>
		<meta property="og:title" content="NEO PHOTO SHARE PIC" />
        <meta property="og:url" content="http://www.outsourcing.pressstart.co/PJCTS/NewIntelNEO/project0.2.7.6/projects/onboarding/?mod=usr2session&ac=r_take_photo_choose" />
        <meta property="og:image" content="http://www.outsourcing.pressstart.co/PJCTS/NewIntelNEO/read/project0.2.7.6/projects/onboarding/media/img/img_menu.png"/>
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="200" />
        <meta property="og:image:height" content="200" />
        
        <meta charset="iso-8859-1">
		<link rel="shortcut icon" href='./media/img/login_img.png' />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="./media/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="./media/css/default.css"/>
		<link rel="stylesheet" type="text/css" href="./media/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="./media/css/style_2.css"/>
		<link rel="stylesheet" type="text/css" href="./media/css/component.css" />
		<link rel="stylesheet" type="text/css" href="./media/css/stage0.css" />
		<link rel="stylesheet" type="text/css" href="./media/css/stage1.css" />
		<link rel="stylesheet" type="text/css" href="./media/css/stage2.css" />
		<link rel="stylesheet" type="text/css" href="./media/css/slider_tutorial.css" />
        <link rel="stylesheet" type="text/css" href="./media/css/slider_tutorial2.css" />

		<!-- hide navigation-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">

		<link rel="apple-touch-icon" href="./media/img/Intel_Icon57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="./media/img/Intel_Icon72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="./media/img/Intel_Icon114.png" />

		<script src="./media/js/modernizr.custom.js"></script>
		<script src="./media/js/jquery.min.js"></script>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="./media/js/poll.js"></script>
        <script src="./media/js/comments_questions.js"></script>
        <script src="./media/js/iOS-Orientationchange-Fix.min.js"></script>
		<script>
			//window.open    = function(){};
			window.print   = function(){};
			// Support hover state for mobile.
			if (false) {
				window.ontouchstart = function(){};
			}
		</script>
	</head>
	<body class="cbp-spmenu-push use-fastclick">