        <div class="principal_container">
                <div class="main">
                    <section class="buttonset">
                       <button  type="button" id="showLeftPush"><img src="./media/img/nav-btn.png"></button>
                    </section>
                    <section class="title">
                    	<h3>Engagement Activities</h3>
                    </section>
					<div class="clean"></div>
                </div>
                <div class="content">
			<ul class="button_in">
			<!--
                        <li><a href="?mod=usr2session&ac=r_read">Read</a></li>
			<li><a href="?mod=usr2session&ac=r_watch">Watch</a></li>
			-->
   	 	   </ul>
		    <a href='?mod=usr2session&ac=r_engage'>
                        <div class="engage">
			    <h3>Engage</h3>
		        </div>
		    </a>
                </div>
				<div class="complement"></div>
            <footer class="question">
            	<form>
                	<input type="text" name="question" placeholder="Ask A Questions Or Share A  Comment" id="question_text">
                    <input type="submit" value="Send" class="submit">
                </form>
             </footer>
        </div>
