<div class="background1">
	<div class="content container">
		<div class="header_p row">
			
			<div><a href="?mod=usr2session&ac=r_"><img src="./media/img/logo.png" id="logo"></a></div>
			<div class="text_title_header">
				<div><h3>New Employee</h3></div>
				<div><p>Orientation</p></div>
			</div>
		</div>
		<img src="./media/img/login_img.png" alt="img_login" class="img_login">
		<p class="index_p">New to Onboarding? Tap the 'Register' button below to get started! <br/>Been here before? Tap the 'Login' button and jump back Onboard!</p>
		<ul class="buttom_index">
			<li><a class="btn-submit" href="?mod=usr2session&ac=r_register">REGISTER</a></li>
			<li><a class="btn-submit" href="?mod=usr2session&ac=r_login">LOGIN</a></li>
		</ul>
	</div>
	<div class="pull-right peel peel_bottom"><img src="./media/img/bottom_pell.png" alt="bottom_pell"></div>
</div>