<!DOCTYPE HTML>
<html>
	<head>
    	<title>Demo</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../media/css/style.css" tywpe="text/css">
	</head>
	<body>
		<div class="background1">
        	<div class="content">
				<img src="../media/img/bottom_pell2.png" id="logo" style="float:right;">
				<div class="clear"></div>
				<img src="../media/img/logo2.png" id="logo">
				<h1 style="margin-top:15px;">Brilliance</h1>
				<img src="../media/img/intel_massaging.png" style="margin-top:15px;">
				<h1>Company</h1>
				<h2 style="margin-top:15px;">Welcome to Intel</h2>
				<div class="img_messaging" style="margin-top:15px;">
					<img src="../media/img/people.png" alt="intel_messagign" style="margin-bottom:-20px;">
				</div>
			</div>
        </div>
	</body>
</html>