    	<div class="background1">
            <div class="content container">
				<div class="header_p">
					<div><a href="?mod=usr2session&ac=r_"><img src="./media/img/logo.png" id="logo"></a></div>
					<div class="text_title_header">
						<div><h3>New Employee</h3></div>
						<div><p>Orientation</p></div>
					</div>
				</div>
				<img src="./media/img/login_img.png" alt="img_login" class="img_login">
                <form class="form_" method=POST>
                    <input type=hidden name=mod value=usr required>
                    <input type=hidden name=ac value=login2 required>
                    <h3>Log In</h3>
                    <div class="form_input">
						<div class="input_icon"><img src="./media/img/user_icon.png" alt="user_icon"></div>
						<div class="input_field"><input type="text" name="email" placeholder="E-Mail Address" required></div>
					</div>
					<div class="form_input">
						<div class="input_icon"><img src="./media/img/pass_icon.png" alt="pass_icon"></div>
						<div class="input_field"><input type="password" name="password" placeholder="Password" required></div>
					</div>
                    <input class="btn-submit send" type="submit" value="LOGIN"/>
                    <a id="recover_pass" href="" class="reset_password">Forgot username or password</a>
                </form>
            </div>
            <div class="pull-right peel peel_bottom"><img src="./media/img/bottom_pell.png" alt="bottom_pell"></div>
        </div>
