    	<div class="background1">
            <div class="content">
				<div class="header_p">
					<div><a href="?mod=usr2session&ac=r_"><img src="./media/img/logo.png" id="logo"></a></div>
					<div><h3>New Employee <p>Orientation</p></h3></div>
				</div>
				<img src="./media/img/login_img.png" alt="img_login">
                <form class="form_" method=POST>
                    <input type=hidden name=mod value=usr>
                    <input type=hidden name=ac value=login2>

                    <h3>Log In</h3>
                    <input type="email" name="email" placeholder="E-Mail Address" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input class="btn-submit send" type="submit" value="Login" />
                    <a href="#" class="reset_password">Forgot username or password?</a>
                </form>
            </div>	
        </div>
