<div class="principal_container comments">
	<div class="main comments">
		<section class="buttonset">
			<button type="button" id="showLeftPush"><img src="./media/img/nav-btn.png"></button>
		</section>
		<section class="title">
			<h3>Comments + Questions</h3>
		</section>
		<section class="img_header">
			<a href="?mod=usr2session&ac=r_leader_board"><img src="./media/img/rank_header.png" alt="" class="h_img" style="margin-right:4px;"></a>
		</section>
		[#notification]
	</div>
	<div class="content container">
		<div class="inbox row">
			<div class="box_gray_sent">
				<div class="box_text_sent">
					<p>Thank You for your feedback!</p>
				</div>
				<div class="clear"></div>
			</div>

			<form method="GET" action='?'>
				<input type=hidden name=mod value='usr2session' />
				<input type=hidden name=ac value='r_home' />
				<input type="submit" class="send2 blank" value="MAIN MENU">
			</form>
		</div>
	</div>         
</div>
<style>body{background:#f3f3f3;}</style>
