<div class="principal_container trophies">
	<div class="content container">

		<div class="new_rank">
			<div class="center">
				<h3 class="title_congrats">New Rank Achieved!</h3>
				<h3 class="title_new_rank">Big Trophy</h3>
				<div class="circle_new_rank">
					<img src="../media/img/trophy_new_rank.png" class="trophy_new_r">
					<div class="value_trophy">1</div>
				</div>
				<ul id="buttons-trophies" class="list-inline">
					<li id="btn_leader"><a href="?mod=usr2session&ac=r_leader_board" class="leaderboard_btn">LEADERBOARD</a></li>
					<li id="btn_main"><a href="?mod=usr2session&ac=r_home" class="main_btn">MAIN MENU</a></li>
				</ul>
			</div>
		</div>
		
    </div>
</div>
