
        <div class="principal_container photo-op activity-bg">
            <div class="container">
                <div class="main photo_op">
                    <section class="buttonset">
                        <button type="button" id="showLeftPush"><img src="./media/img/nav-btn.png"></button>
                    </section>
                    <section class="title">
                        <h3>Photo Op</h3>
                    </section>
                    <section class="img_header">
                        <!--<a href=""><img src="./media/img/comment_header.png" alt="" class="h_img"></a>-->
                        <a href="?mod=usr2session&ac=r_leader_board"><img src="./media/img/rank_header.png" alt="" class="h_img" style="margin-right:8px;"></a>
                    </section>
                </div>
                <div class="content">
      
        <!--<input id="image-picker" type="file" accept="image/*" />-->
                <div class="photo" >
                
    

                </div>
                               
                    <div id="MenuOptions" class="submit-button-box">
                       <div class="icon_take">
                            <!--<input type="button" id='button' class="b_photo"> -->
                            
                        </div>
                    </div>
                
                </div>         
  </div>
    