<!--CONTENT_START-->
<div class="background1">
	<div class="content container">
		<div class="header_p">
					<div><a href="?mod=usr2session&ac=r_"><img src="./media/img/logo.png" id="logo"></a></div>
					<div class="text_title_header">
						<div><h3>New Employee</h3></div>
						<div><p>Orientation</p></div>
					</div>
				</div>
		<div class="started">
			<div>
				<h1>Welcome<br>Aboard!</h1>
			</div>
		</div>
		<img src="./media/img/welcome_img.png" alt="img_successfull" class="img_successfull">
		<h2>You've Registered<br>Successfully!</h2>
	</div>
</div>
<!--LOOP_START-->
<!--LOOP_END-->
<!--CONTENT_END-->
