<!--CONTENT_START-->
<script type="text/javascript">
    question_count = parseInt('[#activity_count]');
</script>

<div class="principal_container scavenger activity-bg">
	<div class="content container">
		[#navigation]

		<form id="scavenger" method="POST" action="?mod=usr2session&amp;ac=r_run_activity">
			<input type=hidden name=pf value='1' />		
			<input type=hidden name=activity_id value='[#activity_id]' />

			<div class="scavenger cont_sca">
				<div class="box_text_sca">
					<p>CHALLENGE</p>
					<p>Using the Phone book from Circuit, locate Renee James Identify: Object to Identify</p>
				</div>
				<div class="cont2_sca">
					<img src="./media/img/camera.png" alt="" class="camera">
					<a href="#" class="button_3"><div>TAKE PHOTO</div></a>
					<a href="#" class="button_3"><div>CHOOSE FROM LIBRARY</div></a>
				</div>
			</div>
		</form>
	</div>
</div>
<!--CONTENT_END-->
