<!--CONTENT_START-->
 <div class="principal_container wellcome_tutorial">
      <header id="header" class="header_p">
        <div class="dark">
          <a href="?mod=usr2session&ac=r_">
            <img src="./media/img/logo.png" id="logo">
          </a>
        </div>
        <div class="black_metal">
          <h3>New Employee <span>Orientation</span></h3>
        </div>
      </header>
    <div class="container2">
     <div id="overlay"></div>

      <div id="slideshow" class="dragslider first-welcome-slider">
        <section class="img-dragger img-dragger-large dragdealer">
          <div class="handle">

            <div class="slide">
              <div class="slide_img">
                <img src="./media/img/learn_t.png" class="img_tutorial_1">
              </div>
              <div class="slide_description">
                <h2>Learn</h2>
                <p> About Intel's culture, what it means to be an employee, how to be successful, and some fun facts.</p>
              </div>
            </div>

            <div class="slide slide_2">
              <div class="slide_img">
                <img src="./media/img/play_t.png" class="img_tutorial_2">
              </div>
              <div class="slide_description">
                <h2>Play</h2>
                <p>Play games and take polls on the material you've learned throughout the day</p>
              </div>
            </div>

            <div class="slide">
              <div class="slide_img">
                <img src="./media/img/interact_t.png" class="img_tutorial2">
              </div>
              <div class="slide_description">
                <h2>Interact</h2>
                <p>With other new employees to play in team activities and vote on group ideas</p>
              </div>
            </div>

            <div class="slide slide_3">
              <div class="slide_img">
                <img src="./media/img/earn_t.png" class="img_tutorial">
              </div>
              <div class="slide_description">
                <h2>Earn</h2>
                <p>points and increase your rank by playing games, answering polls and quiz questions, reading articles</p>
              </div>
            </div>

            <div class="slide slide_4">
              <div class="slide_img">
                <img src="./media/img/ask_t.png" class="img_tutorial">
              </div>
              <div class="slide_description">
                <h2>Ask</h2>
                <p>your burning questions and get real-time feedback form your instructor</p>
                <ul id="btn_wellcom" class="buttom_index2">
                  <li><a class="btn-submit" href="?mod=usr2session&ac=r_home">Let's Get Started!</a></li>
                </ul>
              </div>
            </div>

          </div>
        </section>
      </div>
            <ul class="centered-btns_tabs list-inline">
              <li class="dot centered-btns_here"><a href="#" class="centered-btns1_s1">1</a></li>
              <li class="dot"><a href="#" class="centered-btns1_s2">2</a></li>
              <li class="dot"><a href="#" class="centered-btns1_s3">3</a></li>
              <li class="dot"><a href="#" class="centered-btns1_s2">2</a></li>
            </ul>
    </div><!-- /container -->

  <!--end-principal_container-->
    <script src="./media/js/dragdealer.js"></script>
    <script src="./media/js/classie2.js"></script>
    <script src="./media/js/dragslideshow.js"></script>
    <script src="./media/js/slider_tutorial.js"></script>

 <!--CONTENT_END-->
