<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
	<div class="menu_central">
		<div class="position_">
			<div class="number_rank">
				<img src="./media/img/rank-trophy_menu.png" alt="icon_menu" width="16"><br/>
				[#rank]
			</div>
			<div>
				<img src="./media/img/img_menu.png" alt="icon_menu" class="avatar_img">
			</div>
			<div class="number_score">
				<img src="./media/img/points_menu.png" alt="icon_menu" width="16"><br/>
				[#score]
			</div>
		</div>
		<div id="user_name"><p>[#ssname]</p></div>
	</div>
	<a href="?mod=usr2session&ac=r_home"><div><img src="./media/img/icon_1.png" alt="icon_1"></div><div class="name_icon">Activities</div></a>
	<!--
	<a href="?mod=usr2session&ac=r_read"><div><img src="./media/img/icon_2.png" alt="icon_2"></div><div class="name_icon">Read Articles</div></a>
	-->

	<a href="?mod=usr2session&ac=r_leader_board"><div><img src="./media/img/icon_4.png" alt="icon_4"></div><div class="name_icon">Leaderboard</div></a>
	<a href="?mod=usr2session&ac=r_answers"><div><img src="./media/img/icon_5.png" alt="icon_5"></div><div class="name_icon">My Answers</div></a>
	<a href="?mod=usr2session&ac=r_questions_and_comments"><div><img src="./media/img/icon_6.png" alt="icon_6"></div><div class="name_icon">Questions & Comments</div></a>
	<a href="?mod=usr2session&ac=r_settings"><div><img src="./media/img/icon_7.png" alt="icon_7"></div><div class="name_icon">Settings</div></a>
	<a href="?mod=usr2session&ac=r_logout"><div><img src="./media/img/icon_8.png" alt="icon_8"></div><div class="name_icon">Logout</div></a>
</nav>

