
<div class="scavenger">
	<div class="cont_sca">
		<div class="box_text_sca">
			<p>Your boss name.</p>
		</div>
		<div class="bk_tg"><div class="title_game"><h3>TOPIC GOES HERE</h3></div></div>
		<div class="cont_blank">
			<div class="cont_box_font">
				<div class="box_font">
					<p>&nbsp;</p>
				</div>
				<div class="box_font">
					<p>&nbsp;</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
				<div class="box_font">
					<p>A</p>
				</div>
			</div>									
		</div>
		<div class="box_menu_blank">
			<a href=""><img src="./media/img/word_reset.png" alt="Reset"></a>
			<a href=""><img src="./media/img/word_skip.png" alt="Skip"></a>
			<a href=""><img src="./media/img/word_remove_letter.png" alt="Remove Letter"></a>
		</div>
		<div class="cont_blank2">
			<div class="cont_box_font">
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>A</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>B</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>L</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>E</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>C</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>E</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>R</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>K</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>P</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>D</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>M</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>A</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>Z</p>
				</div>
				<div class="box_font2" onclick="letter_clicked('a')">
					<p>Z</p>
				</div>
			</div>									
		</div>
	</div>
</div>

