<!DOCTYPE HTML>
<html>
	<head>
    	<title>Demo</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../media/css/style.css" type="text/css">
        <link rel="stylesheet" href="../media/css/style_2.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../media/css/default.css" />
	 <link rel="stylesheet" type="text/css" href="../media/css/stage0.css" />
	 <link rel="stylesheet" type="text/css" href="../media/css/stage1.css" />
	 <link rel="stylesheet" type="text/css" href="../media/css/stage2.css" />
	 <link rel="stylesheet" type="text/css" href="../media/css/default.css" />
	 <link rel="stylesheet" type="text/css" href="../media/css/default.css" />
	<link rel="stylesheet" type="text/css" href="../media/css/component.css" />
	<script src="../media/js/modernizr.custom.js"></script>
        <script src="../media/js/modernizr.custom.js"></script>
	</head>
	<body>
        <div class="background1">
            <div class="container">
                <div class="start_now">
                    <h1 class="tc_start">Game Mechanic Here</h1>
		    <img src="../media/img/started_img1.png">
		    <br/>
                    <h3>Quiz Name Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh erat.</p>
                    <a href="#" class="button_2"><div>START NOW</div></a>
                </div>
            </div>
        </div>
	</body>
</html>
