<!DOCTYPE HTML>
<html>
	<head>
    	<title>Demo</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
        <script src="js/modernizr.custom.js"></script>
	</head>
	<body class="cbp-spmenu-push">
           	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<h3>Menu</h3>
				<a href="home.html">Home</a>
                <a href="read.html">Read</a>
                <a href="watch.html">Watch</a>
                <a href="leaderboard.html">Leaderboard and Rank</a>
                <a href="answers.html">My Answers</a>
                <h3>Settings</h3>
                <a href="#">Mute Sounds Toggle</a>
                <a href="index.html">Logout</a>
			</nav>
        <div class="principal_container">
            <div class="container">
                <div class="main">
                    <section class="buttonset">
                       <button id="showLeftPush"><img src="img/nav-btn.png"></button>
                    </section>
                    <section class="title">
                    	<h3>Watch</h3>
                    </section>
                </div>
                <div class="content">
                     <section class="headline">
                        <article>
                            <div class="center2">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                                <table>
                                    <tr>
                                        <td><img src="img/video.png"></td>
                                        <td><h3>Video Title 2</h3>
                                        <p>Watched: 123,456</p></td>
                                    </tr>
                                </table>
                                </a>
                            </div>
                            <div class="social_">
                                <img src="img/red1.png">
                                <img src="img/red2.png">
                                <img src="img/red3.png">
                                <img src="img/red4.png">
                            </div>
                            <p>Lorem ipsum dolor sit amet, fugit omnesque vituperata eum cu. At facete splendide pro, esse falli feugiat sit no. Qui dolore dolorum incorrupte ei. Exerci dolorum mel in, mei ea ancillae oporteat. Cum ad sadipscing comprehensam, pro ei idque intellegat. Sea ut adhuc assueverit.<br><br>

Quod voluptua eos cu. Laudem placerat corrumpit ea eam. Id altera numquam facilis sed. Eam aliquip habemus temporibus id, in mazim volumus intellegebat sed. Eum ei lobortis mediocrem incorrupte. Labores elaboraret vis id, habeo oratio vidisse sea eu.
						<div class="center"><a href="score_watch.html" class="send">Mark as Read</a></div>
                        </article>
                    </section>
                </div>
            </div>
            <footer class="question">
                <form>
                    <input type="text" name="question" placeholder="Ask A Questions Or Share A  Comment" id="question_text">
                    <input type="submit" value="Send" class="submit">
                </form>
            </footer>
        </div>
        
        <script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	</body>
</html>