<!--CONTENT_START-->
<div class="principal_container">
            <div class="container">
                <div class="main watch">
                    <section class="buttonset">
                       <button type="button" id="showLeftPush"><img src="./media/img/nav-btn.png"></button>
                    </section>
                    <section class="title">
                    	<h3>Watch Video</h3>
                    </section>
					<div class="clean"></div>
                </div>
                <div class="content">
			<section class="article">
			<!--LOOP_START-->
			
                        <a href="?mod=usr2session&ac=r_watch&content_id=[#id]"><article>
                        	<table>
                            	<tr>
                                	<td><img src="./media/img/video.png"></td>
					<td>
						<h3>[#name]</h3>
		                                <p>[#body]</p>
					</td>
                                </tr>
                            </table>
			    </article></a>
			    <!--LOOP_END-->

                    </section>
                </div>
            </div>
            <footer class="question">
                <form>
                    <input type="text" name="question" placeholder="Ask A Questions Or Share A  Comment" id="question_text">
                    <input type="submit" value="Send" class="submit">
                </form>
            </footer>
        </div>
        <!--CONTENT_END-->
