<div class="principal_container comments">
	<div class="main comments">
		<section class="buttonset">
			<button type="button" id="showLeftPush"><img src="./media/img/nav-btn.png"></button>
		</section>
		<section class="title">
			<h3>Comments & Questions</h3>
		</section>
		<section class="img_header">
			<a href="?mod=usr2session&ac=r_leader_board"><img src="./media/img/rank_header.png" alt="" class="h_img" style="margin-right:4px;"></a>
		</section>
		[#notification]
	</div>
	<div class="content container" style="margin-top: 3.1em;">
		<div class="row">
			<div class="inbox_menu">
				<a href="?mod=usr2session&ac=r_questions_and_comments" class="menu_i">&lt; INBOX</a>
				<a href="?mod=usr2session&ac=r_write"><img src="./media/img/img_inbox.png" alt="" class="img_inbox"></a>
			</div>
		</div>
		<div class="clear"></div>
		<div>
			
			<div style="margin:0.7em auto;">
				<p class="text_comment">Before I leave the NEO session today, I want to know:</p>
			</div>
			<form method="POST" action='?mod=usr2session&ac=r_write' class="message_cq">
				<textarea class="textarea_" name=body></textarea>
				<input class="btn-submit send2" name="submit" type="submit" value="SUBMIT">
				<input class="btn-submit send2" name="submit" type="submit" value="SUBMIT ANONYMOUS">
			</form>
		</div>
	</div>
</div>