<html>
	<head>
		<title>Template</title>	
		<style>

		//B: head 333399
		// link 6666cc
		//bg 2e2e6b
		//content: b3b3e6	

		//66334d,666633,33664c
			.header{
				color:white;
				width:100%;
				background-color:#333366;
				height:150px;
				border:1px solid black;
				font-family:Tahoma;
				font-size:40pt;
			}
			.navigation{
				background-color:#33664d;
				width:200px;
				font-family:Tahoma;
				font-size:10pt;
				font-color:white;				
			}
			.content{
				width:600px;
				
			}
			.main{
			
			}
		
		</style>
	</head>
	<body class=main>
		<table border=1 width=80% align=center cellpadding=10px>
			<tr><td colspan=2 align=center>
					<div class=header>
					
					Template Title
					
					</div>
					</td></tr>
					<tr><td>
							<div class=navigation>
								<ul>
									<li>Link1
									<li>Link1
									<li>Link1
									<li>Link1
									<li>Link1
								</ul>

							</div></td><td>
					<div class=content>
		
		
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</div></td></tr></table>

