/** http://stackoverflow.com/questions/19071414/change-the-color-of-the-ios-7-status-bar-in-safari-and-chrome */
/*
 * no workie:
 
body:before{
    display: block;
    content: " ";
    height:20px;
    top: 0;
    background:rgba(0,0,255,0.8);
    position:-webkit-sticky;
    position:sticky;
}
*/
